ipykernel==5.5.3
jupyter==1.0.0
matplotlib==3.6.1
matplotlib-inline==0.1.2
numpy==1.23.2
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-gpu==2.10.0
torch==1.7.0
torch-summary==1.4.5
torchaudio==0.7.0
torchvision==0.8.1+cpu